
<head>
    <title class="title">Privatperson eller ansatt</title>
    <link rel="stylesheet" href="css/account.css" asp-append-version="true"/>
</head>
    <body>
    <div class="site-container">
        <h1 title="site-title" style="text-align: center"> Er du privatperson eller ansatt?</h1>
        <div class="site-box">

        </div>
    </div>
    </body>


   
