<head>
    <!-- Setter tittelen på nettsiden til "Privatperson eller ansatt" -->
    <title class="title">Privatperson eller ansatt</title>

    <!-- Linker til CSS-fil for styling, og bruker asp-append-version for cache-busting -->
    <link rel="stylesheet" href="css/account.css" asp-append-version="true" />
</head>

<body>
    <div class="site-container">
        <!-- Tittel på siden, sentrert i midten -->
        <h1 title="site-title" style="text-align: center"> Er du privatperson eller ansatt?</h1>

        <div class="site-box">
            <!-- Innholdet i boksen kan fylles senere -->
        </div>
    </div>
</body>
