<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

<body class="option-site">
    <h2 class="privatperson-eller-ansatt">Er du privatperson eller ansatt?</h2>
    <section class="middle-section">
        <div class="middle-content">
            <div class="btn-container">
                <button class="btn-1"> Privatperson</button>
                <button class="btn-1"> Ansatt</button>
            </div>
        </div>
    </section>
</body>