@model Kartverket16.Models.ViewModels.ProfilePageViewModel

<div class="profile-container">
    <h1>My Profile</h1>

    <div class="profile-content">
        
        <div class="contact-details">
            <h2>Contact detail</h2>
            <form>
                <div class="form-group">
                    <label for="FirstName">First Name:</label>
                    <input type="text" asp-for="FirstName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label for="LastName">Last Name:</label>
                    <input type="text" asp-for="LastName" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input type="email" asp-for="Email" class="form-control" readonly />
                </div>
            </form>
        </div>

        
    
    <div class="change-password">
        <h2>Change Password</h2>
        <form>
            <div class="form-group">
                <label for="OldPassword">Old password *</label>
                <input type="password" id="OldPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label for="NewPassword">New password *</label>
                <input type="password" id="NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm password *</label>
                <input type="password" id="ConfirmPassword" class="form-control" />
            </div>
        </form>
    </div>

    
    <div class="profile-actions">
        <button class="btn btn-danger">Delete profile</button>
        <button class="btn btn-primary">Update profile</button>
    </div>
</div>
