@model Kartverket16.Models.ViewModels.ProfilePageViewModel
}

<!-- Bakgrunnselement som kan være en del av designet -->
<div class="center-background"> </div>

<!-- Wrapper for profilinnholdet -->
<div class="profile-wrapper"> </div>

<!-- Tittel på profilen -->
<h1>Profile</h1>

<!-- Input-boks for fornavn, som er bare lesbar -->
<div class="input-box">
    <label for="FirstName">FirstName</label>
    <input type="text" asp-for="FirstName" readonly> <!-- Bruker asp-for for å binde til FirstName-egenskapen i modellen -->
</div>

<!-- Input-boks for etternavn, som også er bare lesbar -->
<div class="input-box">
    <label for="LastName">LastName:</label>
    <input type="text" asp-for="LastName" readonly> <!-- Bruker asp-for for å binde til LastName-egenskapen i modellen -->
</div>

<!-- Input-boks for e-post, også bare lesbar -->
<div class="input-box">
    <label for="Email">Email:</label>
    <input type="email" asp-for="Email" readonly> <!-- Bruker asp-for for å binde til Email-egenskapen i modellen -->
</div>
