@model List<GeoChanges>  // Modellen som inneholder en liste av GeoChanges, som skal vises på denne siden.
@{
    ViewData["Title"] = "Overview";  // Setter tittelen på siden til "Overview".
}

<h2>Alle saker</h2>  @* // Tittel på visningen som beskriver oversikten. *@

<table class="table">
    @* // Definerer en HTML-tabell for å vise GeoChanges-data. *@
    <thead>
       @*  // Tabellen har en header med kolonneoverskrifter. *@
        <tr>
            <th>RapportID</th>  
            <th>Endringer</th>  
            <th>Beskrivelse</th>  
        </tr>
    </thead>
    <tbody>
        @* Itererer gjennom modellen (GeoChanges) og viser hver endring i en ny rad *@
        @foreach (var change in Model)
        {
            <tr>
                <td>@change.Id</td>
                <td>@change.GeoJson</td>
                <td>@change.Description</td>
            </tr>
        }
    </tbody>
</table>



