@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<body>
<div class="top-section">
    <div class="description">
        <h1 class="title">Her kan du melde inn kartendringer</h1>
        <p class="fullDescription">
            <br/>
            Dersom du har funnet <br/>
            ut at det er mangler i <br/>
            kartet, så kan du hjelpe <br/>
            oss med å oppdatere <br/>
            det!
        </p> 
    </div>
    <div class="picture">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/Kartverket_bilde.jpeg" alt="Home page photo" style="height: 550px; border-radius: 8px"/>
        </a>
    </div>
</div>
<div bottom-section>
<div class="button-container">
    <h1 class="AreaChangeBtn" onclick="window.location.href='@Url.Action("EmployeeOrMapUser", "Account")'">
        Meld inn endring her:
    </h1>
</div>
</div>
</body>

