@{
    // Setter tittelen på siden som "Privacy Policy".
    ViewData["Title"] = "Privacy Policy";
}

// Viser sidetittel hentet fra ViewData.
<h1>@ViewData["Title"]</h1>

<!-- Viser en beskrivende tekst om nettstedets personvernpolicy. -->
<p>Use this page to detail your site's privacy policy.</p>
